<div class="widget clearfix">
   <div class="title"><h3>Principales Bancos</h3></div>
   <span>
       <img src="{{ asset('demos/01_financial.jpg') }}" alt="" class="img-thumbnail img-responsive">
       <img src="{{ asset('demos/02_financial.jpg') }}" alt="" class="img-thumbnail img-responsive">
       <img src="{{ asset('demos/03_financial.jpg') }}" alt="" class="img-thumbnail img-responsive">
       <img src="{{ asset('demos/04_financial.jpg') }}" alt="" class="img-thumbnail img-responsive">
       <img src="{{ asset('demos/05_financial.jpg') }}" alt="" class="img-thumbnail img-responsive">
       <img src="{{ asset('demos/06_financial.jpg') }}" alt="" class="img-thumbnail img-responsive">
   </span>
</div><!-- end widget -->
