<div class="widget clearfix">
    <div class="title"><h3>Principales Compañias</h3></div>
    <span>
        <img class="img-thumbnail img-responsive" alt="" src="{{ asset('demos/supplies_01.jpg') }}">
        <img class="img-thumbnail img-responsive" alt="" src="{{ asset('demos/supplies_02.jpg') }}">
        <img class="img-thumbnail img-responsive" alt="" src="{{ asset('demos/supplies_03.jpg') }}">
        <img class="img-thumbnail img-responsive" alt="" src="{{ asset('demos/supplies_04.jpg') }}">
        <img class="img-thumbnail img-responsive" alt="" src="{{ asset('demos/supplies_05.jpg') }}">
        <img class="img-thumbnail img-responsive" alt="" src="{{ asset('demos/supplies_06.jpg') }}">
        <img class="img-thumbnail img-responsive" alt="" src="{{ asset('demos/supplies_07.jpg') }}">
        <img class="img-thumbnail img-responsive" alt="" src="{{ asset('demos/supplies_08.jpg') }}">
        <img class="img-thumbnail img-responsive" alt="" src="{{ asset('demos/supplies_09.jpg') }}">
        <img class="img-thumbnail img-responsive" alt="" src="{{ asset('demos/supplies_10.jpg') }}">
        <img class="img-thumbnail img-responsive" alt="" src="{{ asset('demos/supplies_11.jpg') }}">
        <img class="img-thumbnail img-responsive" alt="" src="{{ asset('demos/supplies_12.jpg') }}">
        <img class="img-thumbnail img-responsive" alt="" src="{{ asset('demos/supplies_13.jpg') }}">
        <img class="img-thumbnail img-responsive" alt="" src="{{ asset('demos/supplies_14.jpg') }}">
        <img class="img-thumbnail img-responsive" alt="" src="{{ asset('demos/supplies_15.jpg') }}">
        <img class="img-thumbnail img-responsive" alt="" src="{{ asset('demos/supplies_16.jpg') }}">
    </span>
</div>
