{% form_theme flat_form 'TemploBundle:Form:templo_theme.html.twig' %}


      
         <div class="wizard-card" data-cardname="flat.step1" data-validate="flatValidateStep">	
            <h3>{{ 'advertisement.location'|trans }}</h3>           
            <div class="wizard-input-section">
                                    {{ form_row(flat_form.localidad) }}
            </div>
            <div class="wizard-input-section">
                                   {{ form_row(flat_form.calle) }}
            </div>
            <div class="wizard-input-section">
                                   {{ form_row(flat_form.numero) }}
            </div>
            <div class="wizard-input-section">
                                    {{ form_row(flat_form.conserje) }}
            </div>
            <div class="wizard-input-section">
                                    {{ form_row(flat_form.descripcion) }}
            </div>						
        </div>	
        <div class="wizard-card" data-cardname="flat.step2" data-validate="flatValidateStep">
            <h3>{{ 'advertisement.location-confirm'|trans }}</h3>
            <p>Google Map</p>
            {{ form_widget(flat_form.gps_longitud) }}
            {{ form_widget(flat_form.gps_altitud) }}            
        </div>

        <div class="wizard-card" data-cardname="flat.step3" data-validate="flatValidateStep">
            <h3>{{ 'advertisement.price'|trans }}</h3>
            <div class="wizard-input-section">
                    {{ form_row(flat_form.tipo) }}
            </div>
            <div class="wizard-input-section">
                    {{ form_row(flat_form.precio_alquiler) }}
            </div>
            <div class="wizard-input-section">
                    {{ form_row(flat_form.precio_venta) }}
            </div>           
        </div>
        <div class="wizard-card" data-cardname="flat.step4" data-validate="flatValidateStep">
            <h3>{{ 'advertisement.details'|trans }}</h3>
            <div class="wizard-input-section">
                    {{ form_row(flat_form.cocina) }}
            </div>
            <div class="wizard-input-section">
                    {{ form_row(flat_form.alarma) }}
            </div>
            <div class="wizard-input-section">
                    {{ form_row(flat_form.garaje) }}
            </div> 
            <div class="wizard-input-section">
                    {{ form_row(flat_form.bannos) }}
            </div> 
            <div class="wizard-input-section">
                    {{ form_row(flat_form.aire_acondicionado) }}
            </div> 
            <div class="wizard-input-section">
                    {{ form_row(flat_form.calefaccion) }}
            </div> 
        </div>
        <div class="wizard-card" data-cardname="flat.step5" data-validate="flatValidateStep">
            <h3>{{ 'advertisement.details'|trans }}</h3>
            <div class="wizard-input-section">
                    {{ form_row(flat_form.certificado_energetico) }}
            </div>
            <div class="wizard-input-section">
                    {{ form_row(flat_form.metros_utiles) }}
            </div>
            <div class="wizard-input-section">
                    {{ form_row(flat_form.metros_construidos) }}
            </div> 
            <div class="wizard-input-section">
                    {{ form_row(flat_form.nivel_estado) }}
            </div>             
        </div>
        <div class="wizard-card" data-cardname="flat.step6" data-validate="flatValidateStep">
            <h3>{{ 'advertisement.details'|trans }}</h3>
            <div class="wizard-input-section">
                    {{ form_row(flat_form.habitaciones) }}
            </div>
            <div class="wizard-input-section">
                    {{ form_row(flat_form.trasteros) }}
            </div>                  
        </div> 
         <div class="wizard-card" data-cardname="flat.step7" data-validate="flatValidateStep">
            <h3>{{ 'advertisement.photos'|trans }}</h3> 
             <table class="table table-condensed" id="flat-image-list"
                       data-file-id-prefix="piso_form_fotos"
                       data-prototype-file="{{ form_widget(flat_form.fotos.vars.prototype.file)|e }}"
                       data-prototype-file-label="{{ form_label(flat_form.fotos.vars.prototype.file)|e }}"
                       data-prototype-name="{{ form_widget(flat_form.fotos.vars.prototype.name)|e }}" 
                       data-prototype-name-label="{{ form_label(flat_form.fotos.vars.prototype.name)|e }}"
                       data-prototype-main="{{ form_widget(flat_form.fotos.vars.prototype.main)|e }}" 
                       data-prototype-main-label="{{ form_label(flat_form.fotos.vars.prototype.main)|e }}"> 
                 <thead>
                        <tr>
                            <th></th>   
                        </tr>
                    </thead>
                    <tbody>                        
                        <tr class="add-photo">
                            <td><a href="#" data-table="flat-image-list">{{ 'advertisement.add-photo'|trans }}</a></td>                        
                        </tr>
                    </tbody>
              </table>            
        </div>      
        <div class="wizard-success">
            <div class="alert alert-success">
                    {{ 'advertisement.success-flat-message'|trans|raw }}
            </div>

            <a class="btn btn-default publish-another-flat">{{ 'advertisement.publish-other-flat'|trans }}</a>
            <span style="padding:0 20px"></span>
            <a class="btn btn-success im-done">{{ 'advertisement.done'|trans }}</a>           
        </div>



