    <div class="wizard" id="local-wizard" data-title="{{ 'advertisement.local-publish'|trans }}">
         <div class="wizard-card" data-cardname="local.step1">	
            <h3>{{ 'advertisement.location'|trans }}</h3>           
            <div class="wizard-input-section">
                                    {{ form_row(local_form.localidad) }}
            </div>
            <div class="wizard-input-section">
                                   {{ form_row(local_form.calle) }}
            </div>
            <div class="wizard-input-section">
                                   {{ form_row(local_form.numero) }}
            </div>
            <div class="wizard-input-section">
                                    {{ form_row(local_form.conserje) }}
            </div>
            <div class="wizard-input-section">
                                    {{ form_row(local_form.descripcion) }}
            </div>						
        </div>	
        <div class="wizard-card" data-cardname="local.step2">
            <h3>{{ 'advertisement.location-confirm'|trans }}</h3>
            <p>Google Map</p>
            {{ form_widget(local_form.gps_longitud) }}
            {{ form_widget(local_form.gps_altitud) }}            
        </div>

        <div class="wizard-card" data-cardname="local.step3">
            <h3>{{ 'advertisement.price'|trans }}</h3>
            <div class="wizard-input-section">
                    {{ form_row(local_form.tipo) }}
            </div>
            <div class="wizard-input-section">
                    {{ form_row(local_form.precio_alquiler) }}
            </div>
            <div class="wizard-input-section">
                    {{ form_row(local_form.precio_venta) }}
            </div>           
        </div>
        <div class="wizard-card" data-cardname="local.step4">
            <h3>{{ 'advertisement.details'|trans }}</h3>
            <div class="wizard-input-section">
                    {{ form_row(local_form.cocina) }}
            </div>
            <div class="wizard-input-section">
                    {{ form_row(local_form.alarma) }}
            </div>
            <div class="wizard-input-section">
                    {{ form_row(local_form.garaje) }}
            </div> 
            <div class="wizard-input-section">
                    {{ form_row(local_form.bannos) }}
            </div> 
            <div class="wizard-input-section">
                    {{ form_row(local_form.aire_acondicionado) }}
            </div> 
            <div class="wizard-input-section">
                    {{ form_row(local_form.calefaccion) }}
            </div> 
        </div>
        <div class="wizard-card" data-cardname="local.step5">
            <h3>{{ 'advertisement.details'|trans }}</h3>
            <div class="wizard-input-section">
                    {{ form_row(local_form.certificado_energetico) }}
            </div>
            <div class="wizard-input-section">
                    {{ form_row(local_form.metros_utiles) }}
            </div>
            <div class="wizard-input-section">
                    {{ form_row(local_form.metros_construidos) }}
            </div> 
            <div class="wizard-input-section">
                    {{ form_row(local_form.nivel_estado) }}
            </div> 
            <div class="wizard-input-section">
                    {{ form_row(local_form.plantas) }}
            </div>
        </div> 
         <div class="wizard-card" data-cardname="flat.step6">
            <h3>{{ 'advertisement.photos'|trans }}</h3>           
            
             <table class="table table-condensed" id="local-image-list"
                       data-prototype-file="{{ form_widget(local_form.fotos.vars.prototype.file)|e }}"
                       data-prototype-file-label="{{ form_label(local_form.fotos.vars.prototype.file)|e }}"
                       data-prototype-name="{{ form_widget(local_form.fotos.vars.prototype.name)|e }}" 
                       data-prototype-name-label="{{ form_label(local_form.fotos.vars.prototype.name)|e }}"
                       data-prototype-main="{{ form_widget(local_form.fotos.vars.prototype.main)|e }}" 
                       data-prototype-main-label="{{ form_label(local_form.fotos.vars.prototype.main)|e }}"> 
                 <thead>
                        <tr>
                            <th></th>   
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="add-photo">
                            <td><a href="#" data-table="local-image-list">Adicionar foto</a></td>                        
                        </tr>
                    </tbody>
              </table>            
        </div>      
        <div class="wizard-success">
            <h3>Oficina creada exitosamente</h3>            
        </div>

    </div>

