{% extends 'TemploBundle::base.html.twig' %}



{% block main %}
<div id="dashboard" class="row">
    <h1><i class="fa fa-home"></i> {{ 'user_navbar.dashboard'|trans({}, 'UserBundle')|capitalize }}</h1>

    <div class="col-md-4">
        <div class="dasboard-action">
        <a href="{{ path('user_create_advertisement') }}">
            <i class="fa fa-thumb-tack"></i>
            <br><br>
            {{ 'user_navbar.create_ad'|trans({}, 'UserBundle')|upper }}
        </a>
        </div>
    </div>
    <div class="col-md-4">
        <div class="dasboard-action">
        <a href="">
            <i class="fa fa-book"></i>
            <br><br>
            {{ 'user_navbar.ads'|trans({}, 'UserBundle')|upper }} (10)
        </a>
        </div>
    </div>    

    <div class="col-md-4">
        <div class="dasboard-action">
        <a href="">
            <i class="fa fa-star"></i>
            <br><br>
            {{ 'user_navbar.starred_ads'|trans({}, 'UserBundle')|upper }} (10)
        </a>
        </div>
    </div>



</div>

{% endblock %}
