<div class="sticky-toolbar">
    <ul>
        <li id="support"><a title="{{'sticky-toolbar.support-menu' | trans}}" title="" href="#" ><i class="fa fa-link"></i></a></li>
        <li id="help"><a href="#ContactFormModal" data-toggle="modal" title="{{'sticky-toolbar.question' | trans}}"><i class="fa fa-question"></i></a></li>
    </ul>
</div><!--/ sticky-toolbar-->

<div class="popup">
    <ul>
        <li><a href="contact.php">{{'sticky-toolbar.popup.contact' | trans}}</a></li>
        <li><a href="forum.html">{{'sticky-toolbar.popup.office' | trans}}</a></li>
        <li><a href="ticket.html">{{'sticky-toolbar.popup.what' | trans}}</a></li>
    </ul>
</div><!--/ popup-->

</div><!--/ toolbar-wrapp-->

<div class="modal fade" id="ContactFormModal" tabindex="-1" role="dialog" aria-labelledby="ContactFormModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h2 class="big_title">¿Tiene preguntas?<small>No se preocupe! Estamos aquí para ayudarle</small></h2>
            </div>
            <div class="modal-body clearfix">
                <div class="text-left">
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="ImageWrapper boxes_img">
                            <img src="{{ asset('demos/01_about.jpg') }}" class="img-responsive" alt="">
                            <div class="ImageOverlayH"></div>
                            <div class="Buttons StyleSc">
                                <span class="WhiteSquare"><a href="http://www.facebook.com/temploconsulting"><i class="fa fa-facebook"></i></a></span>
                                <span class="WhiteSquare"><a href="http://twitter.com/templo_cons"><i class="fa fa-twitter"></i></a></span>
                                <span class="WhiteSquare"><a href="https://plus.google.com/102908365515054598982?rel=author"><i class="fa fa-google-plus"></i></a></span>
                            </div>
                        </div>
                        <div class="servicetitle"><h2>Templo Consulting</h2></div>
                        <ul>
                            <li><i class="fa fa-external-link"></i> www.temploconsulting.com.com</li>
                            <li><i class="fa fa-envelope"></i> info@temploconsulting.com</li>
                            <li><i class="fa fa-phone-square"></i> +34 914 892 127</li>
                        </ul>
                    </div>
            
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <form id="contact" class="row" action="contact.php" name="contactform" method="post">
                            <input type="text" name="name" id="name" class="form-control" placeholder="Nombre"> 
                            <input type="text" name="email" id="email" class="form-control" placeholder="Email"> 
                            <input type="text" name="phone" id="phone" class="form-control" placeholder="Teléfono">
                            <input type="text" name="subject" id="subject" class="form-control" placeholder="Asunto"> 
                            <textarea class="form-control" name="comments" id="comments" rows="6" placeholder="Mensaje ..."></textarea>
                            <button type="button" class="btn btn-primary">Enviar Mensaje</button>
                        </form>
                    </div>
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->



<div class="modal fade" id="LoginContact" tabindex="-1" role="dialog" aria-labelledby="ContactFormModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h1 class="text-center"><small>Bienvenido a Temploconsulting</small></h1>
            </div>
            <div class="modal-body clearfix">
                <div class="text-left">
                   <div class="col-lg-6 col-md-6 col-sm-12">	
                        <div class="widget clearfix">
                            <div class="title">
                                <h3>Entrar en tu Cuenta</h3>
                            </div>
                            <form id="loginform" method="post" name="loginform" action="">
                                <div class="form-group">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                        <input type="text" class="form-control" placeholder="Username">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                                        <input type="password" class="form-control" placeholder="Password">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="checkbox">
                                        <label> 
                                            <input type="checkbox">  Recordar mis datos 
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-sign-in"></i></span>
                                        <button type="submit" class="btn">Entrar</button>
                                    </div>                                
                                </div>
                            </form>
                       </div>
                    </div><!-- end login -->
            
                    <div class="col-lg-6 col-md-6 col-sm-12">	
                        <div class="widget clearfix">
                            <div class="title">
                                <h3>Registrate Gratis</h3>
                            </div>
                            <form id="loginform" method="post" name="loginform" action="">                                
                                <div class="form-group">
                                    <div class="input-group">
                                         <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                                         <input type="email" class="form-control" placeholder="Email">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group">
                                         <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                         <input type="text" class="form-control" placeholder="Usser">
                                    </div>                                    
                                </div>
                                <div class="form-group">
                                   <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                                        <input type="password" class="form-control" placeholder="Password">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                                         <input type="text" class="form-control" placeholder="Re-Password">
                                    </div>                                   
                                </div>
                                <div class="form-group">
                                     <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-sign-in"></i></span>
                                        <input type="submit" class="btn" value="Registarme">
                                    </div>                                    
                                </div>
                            </form>
                       </div>
                    </div><!-- end login -->
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="topbar clearfix">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="callus">
                    <p>
                        <span><i class="fa fa-envelope"></i> info@temploconsulting.com</span>
                        <span><i class="fa fa-phone-square"></i> 914892127</span>
                    </p>
                </div><!-- end callus-->
            </div><!-- end col-lg-6 -->
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="marketing">
                    <ul class="topflags pull-right">
                        <li><a data-placement="bottom" data-toggle="tooltip" data-original-title="{{'top-bar.languages.spanish' | trans}}" title="" href="{{ path('portada', { '_locale': 'es' }) }}"><img alt="es" src="{{ asset('images/flags/es.png') }}"></a></li>
                        <li><a data-placement="bottom" data-toggle="tooltip" data-original-title="{{'top-bar.languages.english' | trans}}" title="" href="{{ path('portada', { '_locale': 'en' }) }}"><img alt="us" src="{{ asset('images/flags/us.png') }}"></a></li>
                        <li><a data-placement="bottom" data-toggle="tooltip" data-original-title="{{'top-bar.languages.chinese' | trans}}" title="" href="{{ path('portada', { '_locale': 'cn' }) }}"><img alt="cn" src="{{ asset('images/flags/cn.png') }}"></a></li>
                    </ul><!-- end flags -->
                    <ul class="topmenu pull-right">
                        <li><a href="#LoginContact" data-toggle="modal"><!-- <i class="fa fa-lock"> --> </i>{{'top-bar.login-register' | trans}}</a></li> 
                        
                    </ul><!--  -->
                </div><!-- end marketing -->
            </div><!-- end col-lg-6 -->
        </div><!-- end row -->
    </div><!-- end container -->
</div><!-- end topbar -->        
<header class="header1">
    <div class="container">
        <div class="row header-row">
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="logo-wrapper clearfix">
                    <div class="logo">
                        <a href="index.php" title="Inicio">
                            <img src="{{ asset('images/logo.png') }}" alt="Logo Templo  Consulting">
                        </a>
                    </div><!-- /.site-name -->
                </div><!-- /.logo-wrapper -->
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
            </div>      
            <div class="col-lg-5 col-md-5 col-sm-12  pull-right">
                <div class="social clearfix pull-right">
                    <span><a data-placement="bottom" data-toggle="tooltip" data-original-title="Twitter" title="Twitter Templo Consulting" href="http://twitter.com/templo_cons"><i class="fa fa-twitter"></i></a></span>
                    <span><a data-placement="bottom" data-toggle="tooltip" data-original-title="Facebook" title="Facebook Templo Consulting" href="http://www.facebook.com/temploconsulting"><i class="fa fa-facebook"></i></a></span>
                    <span><a data-placement="bottom" data-toggle="tooltip" data-original-title="Google Plus" title="Google Plus Templo Consulting" href="https://plus.google.com/102908365515054598982?rel=author"><i class="fa fa-google-plus"></i></a></span>
                    <span><a data-placement="bottom" data-toggle="tooltip" data-original-title="Linkedin" title="Linkedin Templo Consulting" href="http://www.linkedin.com/company/3321721?trk=tyah"><i class="fa fa-linkedin"></i></a></span>
                    <span><a data-placement="bottom" data-toggle="tooltip" data-original-title="Blog" title="Blog Templo Consulting" href="http://templo-consulting.blogspot.com.es/"><i class="fa fa-book"></i></a></span>
                </div><!-- end social -->
            </div>     
        </div><!-- end row -->
        <nav class="navbar navbar-default fhmm" role="navigation">
            <div class="menudrop container">
                <div class="navbar-header">
                    <button type="button" data-toggle="collapse" data-target="#defaultmenu" class="navbar-toggle"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
                </div><!-- end navbar-header -->
                <div id="defaultmenu" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <!-- Mega Menu -->
                        <li class="dropdown fhmm-fw"><a href="{{ path('portada') }}"><i class="fa fa-home"></i> {{ 'menu.home' | trans | upper }}</a></li><!-- mega menu -->
                        <!-- list elements -->
                        <li class="dropdown fhmm-fw"><a href="" data-toggle="dropdown" class="dropdown-toggle">{{ 'menu.service' | trans | upper }}<b class="caret"></b></a>
                            <ul class="dropdown-menu fullwidth">
                                <li class="fhmm-content withdesc">
                                    <div class="row">
                                        <div class="col-sm-2">
                                            <h3 class="title">{{ 'menu.service-type.intermediation' | trans | upper }}</h3>
                                            <ul>
                                                <li><a data-description="Ventas Mobiliarios" href="{{ path('intermediation-sale') }}">{{ 'menu.service-type.intermediation-submenu.sale' | trans| upper }}</a></li>
                                                <li><a data-description="Activos Mobiliarios" href="{{ path('intermediation-rent') }}">{{ 'menu.service-type.intermediation-submenu.rent' | trans| upper }}</a></li>
                                                <li><a data-description="Credito Personalizado" href="{{ path('intermediation-financing') }}">{{ 'menu.service-type.intermediation-submenu.financing' | trans| upper }}</a></li>
                                                <li><a data-description="Luz, agua, gas..." href="{{ path('intermediation-supplies') }}">{{ 'menu.service-type.intermediation-submenu.supplies' | trans| upper }}</a></li>
                                                <li><a data-description="Impago, hogar, vida..." href="{{ path('intermediation-insurance') }}">{{ 'menu.service-type.intermediation-submenu.insurance' | trans| upper }}</a></li>
                                            </ul>
                                        </div>
                                        <div class="col-sm-2">
                                            <h3 class="title">{{ 'menu.service-type.construction' | trans | upper }}</h3>
                                            <ul>
                                                <li><a data-description="Diseño de Interiores" href="{{ path('construction-interior') }}">{{ 'menu.service-type.construction-submenu.interior' | trans| upper }}</a></li>
                                                <li><a data-description="Seguidad y Salud" href="{{ path('construction-safety-coordinator') }}">{{ 'menu.service-type.construction-submenu.coord' | trans| upper }}</a></li>
                                                <li><a data-description="Dirección de Ejecución" href="{{ path('construction-construction') }}">{{ 'menu.service-type.construction-submenu.construction' | trans| upper }}</a></li>
                                            </ul>
                                        </div>
                                        <div class="col-sm-2">
                                            <h3 class="title">{{ 'menu.service-type.certificate' | trans | upper }}</h3>
                                            <ul>
                                                <li><a data-description="Certificado Energético" href="{{ path('certificates-certificates') }}">{{ 'menu.service-type.certificate-submenu.certificates' | trans| upper }}</a></li>
                                                <li><a data-description="Inspección Edificios" href="{{ path('certificates-ite') }}">{{ 'menu.service-type.certificate-submenu.ite' | trans| upper }}</a></li>
                                                <li><a data-description="Licencia de Actividad" href="{{ path('certificates-licenses') }}">{{ 'menu.service-type.certificate-submenu.licenses' | trans| upper }}</a></li>
                                            </ul>
                                        </div>
                                        <div class="col-sm-2">
                                            <h3 class="title">{{ 'menu.service-type.supplementary' | trans | upper }}</h3>
                                            <ul>
                                                <li><a data-description="Liso, estuco..." href="{{ path('complement-painting') }}">{{ 'menu.service-type.supplementary-submenu.paint' | trans | upper }}</a></li>
                                                <li><a data-description="Hogar, locales, oficinas..." href="{{ path('complement-cleaning') }}">{{ 'menu.service-type.supplementary-submenu.cleaning' | trans | upper }}</a></li>
                                            </ul>
                                        </div>
                                        <div class="col-sm-2">
                                            <h3 class="title">{{ 'menu.service-type.templo' | trans | upper }}</h3>
                                            <ul>
                                                <li><a data-description="Envíenos su CV" href="{{ path('templo-work-with-us') }}">{{ 'menu.service-type.templo-submenu.work' | trans | upper }}</a></li>
                                                <li><a data-description="Información" href="{{ path('templo-information') }}">{{ 'menu.service-type.templo-submenu.cleaning' | trans | upper }}</a></li>
                                                <li><a data-description="Valores Empresa" href="{{ path('templo-our-values') }}">{{ 'menu.service-type.templo-submenu.valors' | trans | upper }}</a></li>
                                                <li><a data-description="Podemos Ayudarte" href="{{ path('templo-contact-us') }}">{{ 'menu.service-type.templo-submenu.cleaning' | trans | upper }}</a></li>
                                                <li><a data-description="Preguntas Frecuentes..." href="{{ path('templo-ask') }}">{{ 'menu.service-type.templo-submenu.work' | trans | upper }}</a></li>
                                            </ul>
                                        </div>
                                    </div><!-- end row -->
                                </li><!-- end grid demo -->
                            </ul><!-- end drop down menu -->
                        </li><!-- end list elements -->
                        <!-- list elements -->
                        <li class="dropdown fhmm-fw"><a href="#" data-toggle="dropdown" class="dropdown-toggle">{{ 'menu.property' | trans | upper }} <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li class="fhmm-content fullwidth">
                                    <div class="row">
                                        
                                       {{ render(controller('TemploBundle:Default:topMenuProperties')) }}                                       
                                                                                
                                                              
                                    </div><!-- end row -->
                                </li><!-- end grid demo -->
                            </ul><!-- end drop down menu -->
                        </li><!-- end list elements -->
                        <!-- standard drop down -->
                        <li><a href="list-property.html">{{ 'menu.find' | trans | upper }}</a></li>
                        
                        <li><a href="list-property.html">{{ 'menu.house' | trans | upper }}</a></li>
                    </ul><!-- end nav navbar-nav -->
                </div><!-- end #navbar-collapse-1 -->
            </div><!-- end dm_container -->
        </nav><!-- end navbar navbar-default fhmm -->
    </div><!-- end container -->
</header><!-- end header -->
