{% extends 'TemploBundle::base.html.twig' %}


{% block head_style %}
 {{ parent() }}
<link href="{{ asset('assets/bootstrap-wizard/bootstrap-wizard.css') }}" rel="stylesheet">
<link href="{{ asset('assets/bootstrap-validator/css/bootstrapValidator.min.css') }}" rel="stylesheet">
<link href="{{ asset('assets/bootstrap-fileinput/css/fileinput.min.css') }}" rel="stylesheet">
<!--
<link href="{{ asset('assets/bootstrap-modal/css/bootstrap-modal-bs3patch.css') }}" rel="stylesheet">
<link href="{{ asset('assets/bootstrap-modal/css/bootstrap-modal.css') }}" rel="stylesheet">
-->


{% endblock %}

{% block foot_script_assetic %}
 {{ parent() }}

<script src="{{ asset('assets/bootstrap-wizard/bootstrap-wizard.js') }}"></script>
<script src="{{ asset('assets/bootstrap-validator/js/bootstrapValidator.min.js') }}"></script>
<script src="{{ asset('assets/bootstrap-fileinput/js/fileinput.min.js') }}"></script>
<!--
<script src="{{ asset('assets/bootstrap-modal/js/bootstrap-modal.js') }}"></script>
<script src="{{ asset('assets/bootstrap-modal/js/bootstrap-modalmanager.js') }}"></script>
-->
{% javascripts   
    '@TemploBundle/Resources/public/js/publish/publish-common.js'
    '@TemploBundle/Resources/public/js/publish/publish-flat.js'    
    %}
<script src="{{ asset_url }}"></script>
{% endjavascripts %}

{% endblock  %}



{% block main %}
    {# include 'TemploBundle:Advertisement/wizard:flatWizard.html.twig' #}
    {# include 'TemploBundle:Advertisement/wizard:localWizard.html.twig' #}
    {# include 'TemploBundle:Advertisement/wizard:chaletWizard.html.twig' #}


<div id="advertisment-publish-links" class="row">
    <h1><i class="fa fa-thumb-tack"></i> {{ 'advertisement-publish-links.title'|trans|capitalize }}</h1>
   
    <div class="col-md-4">
        <div class="publish-link">
            <a href="" id="flat-wizard-start">
                <img src="{{ asset('assets/img/home_32.png') }}">
                <br><br>
                {{ 'advertisement-publish-links.flat'|trans|capitalize }}
            </a>
            <div class="wizard ad-wizard" id="flat-wizard" data-title="{{ 'advertisement.flat-publish'|trans }}">
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="publish-link">
            <a href="" id="local-wizard-start">
                <img src="{{ asset('assets/img/home_32.png') }}">
                <br><br>
                {{ 'advertisement-publish-links.local'|trans|capitalize }}
            </a>
        </div>
    </div>    

    <div class="col-md-4">
        <div class="publish-link">
            <a href="" id="chale-wizard-start">
                <i class="fa fa-star"></i>
                <br><br>
                {{ 'advertisement-publish-links.chale'|trans|capitalize }}
            </a>
        </div>
    </div>  



</div>

{% endblock %}
