{% extends 'TemploBundle::base.html.twig' %}


{% block head_style %}
 {{ parent() }}
<link href="{{ asset('assets/bootstrap-wizard/bootstrap-wizard.css') }}" rel="stylesheet">
<link href="{{ asset('assets/bootstrap-validator/css/bootstrapValidator.min.css') }}" rel="stylesheet">
<link href="{{ asset('assets/bootstrap-fileinput/css/fileinput.min.css') }}" rel="stylesheet">
<!--
<link href="{{ asset('assets/bootstrap-modal/css/bootstrap-modal-bs3patch.css') }}" rel="stylesheet">
<link href="{{ asset('assets/bootstrap-modal/css/bootstrap-modal.css') }}" rel="stylesheet">
-->


{% endblock %}

{% block foot_script_assetic %}
 {{ parent() }}

<script src="{{ asset('assets/bootstrap-wizard/bootstrap-wizard.js') }}"></script>
<script src="{{ asset('assets/bootstrap-validator/js/bootstrapValidator.min.js') }}"></script>
<script src="{{ asset('assets/bootstrap-fileinput/js/fileinput.min.js') }}"></script>
<!--
<script src="{{ asset('assets/bootstrap-modal/js/bootstrap-modal.js') }}"></script>
<script src="{{ asset('assets/bootstrap-modal/js/bootstrap-modalmanager.js') }}"></script>
-->
{% javascripts   
    '@TemploBundle/Resources/public/js/publish/publish-common.js'
    '@TemploBundle/Resources/public/js/publish/publish-flat.js'    
    %}
<script src="{{ asset_url }}"></script>
{% endjavascripts %}

<script type="text/javascript">
function photoConfig() {    
    $('tr.add-photo').on('click', 'a', function(e) {
        //$('.add-photo a').on('click', function(e) {        
        //  $('tr.add-photo').delegate('a','click', function(e) {        
        e.preventDefault();

        collectionHolder_id = $(this).attr('data-table');
        collectionHolder = $('#' + collectionHolder_id);

        var count = collectionHolder.find('.photo-row').length;
        var index = 0;
        if (count > 0)
        {
            var name = collectionHolder.find('.photo-row').last().find('input').attr('name');
            re = /.*(\d+).*/;
            if (re.exec(name))
            {
                index = parseInt(RegExp.$1) + 1;
            }
        }

        var file = collectionHolder.attr('data-prototype-file').replace(/__name__/g, index);
       // var file_label = collectionHolder.attr('data-prototype-file-label').replace(/__name__/g, index);
        //var name = collectionHolder.attr('data-prototype-name').replace(/__name__/g, index);
       // var name_label = collectionHolder.attr('data-prototype-name-label').replace(/__name__/g, index);
        //var main = collectionHolder.attr('data-prototype-main').replace(/__name__/g, index);
        //var main_label = collectionHolder.attr('data-prototype-main-label').replace(/__name__/g, index);

        var file_id_prefix = collectionHolder.attr('data-file-id-prefix') + '_' + index + '_file';

        $(this).parent().parent().before('<tr id="tr-' + index + '" class="photo-row">' +
                '<td>' +
                '<div class="container">' +
                '<div class="row">' +
                file +
                '</div>' +
                '<div class="row">' +
                '<div class="pull-right">' +
                '<a href="#" id="del-' + index + '" class="del-photo" data-tr="tr-' + index + '">{{'advertisement.form.photo.delete' | trans}}</a>' +
                '</div>' +
                '</div>' +
                '</div>' +
                '</td>' +
                '</tr>');

        $('#del-'+index).on('click', function(e) {
            e.preventDefault();
            var tr = $(this).attr('data-tr');
            $('#' + tr).remove();
        });

        $("#" + file_id_prefix).removeClass('form-control').fileinput({
            showCaption: true,
            previewFileType: "image",
	    browseClass: "btn btn-success",
            browseIcon: "<i class=\"glyphicon glyphicon-picture\"></i> ",
            showPreview: true,
            showRemove: false,
            showUpload: false,
            browseLabel: '{{'advertisement.form.photo.browse' | trans}}',
            maxFileSize: 2048,
            msgSizeTooLarge: '{{'advertisement.form.photo.msg-too-large' | trans | raw}}'
            
        });

    });

}
</script>

{% endblock  %}



{% block main %}
    {# include 'TemploBundle:Advertisement/wizard:flatWizard.html.twig' #}
    {# include 'TemploBundle:Advertisement/wizard:localWizard.html.twig' #}
    {# include 'TemploBundle:Advertisement/wizard:chaletWizard.html.twig' #}


<div id="advertisment-publish-links" class="row">
    <h1><i class="fa fa-thumb-tack"></i> {{ 'advertisement-publish-links.title'|trans|capitalize }}</h1>
  
    <div class="col-md-4">
        <div class="publish-link">
            <a href="" id="flat-wizard-start">
                <img src="{{ asset('assets/img/home_32.png') }}">
                <br><br>
                {{ 'advertisement-publish-links.flat'|trans|capitalize }}
            </a>
            <div class="wizard ad-wizard" id="flat-wizard" data-title="{{ 'advertisement.flat-publish'|trans }}">
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="publish-link">
            <a href="" id="local-wizard-start">
                <img src="{{ asset('assets/img/home_32.png') }}">
                <br><br>
                {{ 'advertisement-publish-links.local'|trans|capitalize }}
            </a>
        </div>
    </div>    

    <div class="col-md-4">
        <div class="publish-link">
            <a href="" id="chale-wizard-start">
                <i class="fa fa-star"></i>
                <br><br>
                {{ 'advertisement-publish-links.chale'|trans|capitalize }}
            </a>
        </div>
    </div>  



</div>

{% endblock %}
