{% extends 'TemploBundle::base.html.twig' %}


{% block head_style %}
 {{ parent() }}
<link href="{{ asset('assets/bootstrap-wizard/bootstrap-wizard.css') }}" rel="stylesheet">


<link href="{{ asset('assets/jquery-ui/themes/base/jquery-ui.css') }}" rel="stylesheet">
<link href="{{ asset('assets/plupload/js/jquery.ui.plupload/css/jquery.ui.plupload.css') }}" rel="stylesheet">

{% endblock %}

{% block foot_script_assetic %}
 {{ parent() }}

<script src="{{ asset('assets/jquery-ui/jquery-ui.min.js') }}"></script>
<script src="{{ asset('assets/js/browserplus-min.js') }}"></script>
<script src="{{ asset('assets/js/browserplus-min.js') }}"></script>
<script src="{{ asset('assets/plupload/js/plupload.full.min.js') }}"></script>
<script src="{{ asset('assets/plupload/js/jquery.ui.plupload/jquery.ui.plupload.js') }}"></script>

{% javascripts   
    '@TemploBundle/Resources/public/js/publish/publish-common.js'
   
    %}
<script src="{{ asset_url }}"></script>
{% endjavascripts %}



<script type="text/javascript">
    
    $(function() {
	$("#uploader").plupload({
		// General settings
		runtimes : 'html5,flash,silverlight,html4',
		url : '../upload.php',

		// User can upload no more then 20 files in one go (sets multiple_queues to false)
		max_file_count: 20,
		
		chunk_size: '1mb',

		// Resize images on clientside if we can
		resize : {
			width : 200, 
			height : 200, 
			quality : 90,
			crop: true // crop to exact dimensions
		},
		
		filters : {
			// Maximum file size
			max_file_size : '1000mb',
			// Specify what files to browse for
			mime_types: [
				{title : "Image files", extensions : "jpg,gif,png"},
				{title : "Zip files", extensions : "zip"}
			]
		},

		// Rename files by clicking on their titles
		rename: true,
		
		// Sort files
		sortable: true,

		// Enable ability to drag'n'drop files onto the widget (currently only HTML5 supports that)
		dragdrop: true,

		// Views to activate
		views: {
			list: true,
			thumbs: true, // Show thumbs
			active: 'thumbs'
		},

		// Flash settings
		flash_swf_url : '../../js/Moxie.swf',

		// Silverlight settings
		silverlight_xap_url : '../../js/Moxie.xap'
	});

    
     
</script>


{% endblock  %}



{% block main %}   

<div class="container">   
    <!-- The file upload form used as target for the file upload widget -->
    <form id="fileupload" action="{{ path('upload-test') }}" method="POST" enctype="multipart/form-data">
        <div id="uploader">
           <p>Your browser doesn't have Flash, Silverlight or HTML5 support.</p>
        </div>
        <br />
	<input type="submit" value="Submit" />
    </form>
    
   
</div>


{% endblock %}
