{% extends 'TemploBundle::services-template2.html.twig' %}
{% block breadcrumb %}
   <ul class="breadcrumb">
        <li><a href="{{ path('portada') }}">{{ 'breadcrumb.home' | trans }}</a></li>
        <li><a href="{{ path('services') }}">{{ 'breadcrumb.services' | trans }}</a></li>
        <li>{{ 'breadcrumb.rent' | trans }}</li> 
    </ul>
{% endblock %}
{% block anuncios_region %}

        <div class="col-lg-4 col-md-4 col-sm-12 ">
            <article class="blog-wrap boxes portfolio-wrap">
                <div class="blog-media">
                <div class="ImageWrapper boxes_img">
                        <img class="img-responsive" src="{{ asset('demos/01_home.jpg') }}" alt="">
                        <div class="ImageOverlayH"></div>
                        <div class="Buttons StyleMg">
                            <span class="WhiteSquare"><a class="fancybox" href="{{ asset('demos/01_home.jpg') }}"><i class="fa fa-search"></i></a></span>
                        </div>
                        <div class="status_type">€ 550.000</div>
                </div><!-- ImageWrappe>
            </div><!-- end blog media -->
            <div class="post-content"> <h2>Las Rozas de Madrid</a></h2>
            </div><!-- post-content -->
            </article><!-- end blog wrap -->
        </div><!-- end col-lg-3 --> 
        
        <div class="col-lg-4 col-md-4 col-sm-12 ">
            <article class="blog-wrap boxes portfolio-wrap">
                <div class="blog-media">
                <div class="ImageWrapper boxes_img">
                        <img class="img-responsive" src="{{ asset('demos/01_home.jpg') }}" alt="">
                        <div class="ImageOverlayH"></div>
                        <div class="Buttons StyleMg">
                            <span class="WhiteSquare"><a class="fancybox" href="{{ asset('demos/01_home.jpg') }}"><i class="fa fa-search"></i></a></span>
                        </div>
                        <div class="status_type">€ 550.000</div>
                </div><!-- ImageWrappe>
            </div><!-- end blog media -->
            <div class="post-content"> <h2>Las Rozas de Madrid</a></h2>
            </div><!-- post-content -->
            </article><!-- end blog wrap -->
        </div><!-- end col-lg-3 --> 
        
        <div class="col-lg-4 col-md-4 col-sm-12 ">
            <article class="blog-wrap boxes portfolio-wrap">
                <div class="blog-media">
                <div class="ImageWrapper boxes_img">
                        <img class="img-responsive" src="{{ asset('demos/01_home.jpg') }}" alt="">
                        <div class="ImageOverlayH"></div>
                        <div class="Buttons StyleMg">
                            <span class="WhiteSquare"><a class="fancybox" href="{{ asset('demos/01_home.jpg') }}"><i class="fa fa-search"></i></a></span>
                        </div>
                        <div class="status_type">€ 550.000</div>
                </div><!-- ImageWrappe>
            </div><!-- end blog media -->
            <div class="post-content"> <h2>Las Rozas de Madrid</a></h2>
            </div><!-- post-content -->
            </article><!-- end blog wrap -->
        </div><!-- end col-lg-3 --> 
        
        <div class="col-lg-4 col-md-4 col-sm-12 ">
            <article class="blog-wrap boxes portfolio-wrap">
                <div class="blog-media">
                <div class="ImageWrapper boxes_img">
                        <img class="img-responsive" src="{{ asset('demos/01_home.jpg') }}" alt="">
                        <div class="ImageOverlayH"></div>
                        <div class="Buttons StyleMg">
                            <span class="WhiteSquare"><a class="fancybox" href="{{ asset('demos/01_home.jpg') }}"><i class="fa fa-search"></i></a></span>
                        </div>
                        <div class="status_type">€ 550.000</div>
                </div><!-- ImageWrappe>
            </div><!-- end blog media -->
            <div class="post-content"> <h2>Las Rozas de Madrid</a></h2>
            </div><!-- post-content -->
            </article><!-- end blog wrap -->
        </div><!-- end col-lg-3 --> 
        
        <div class="col-lg-4 col-md-4 col-sm-12 ">
            <article class="blog-wrap boxes portfolio-wrap">
                <div class="blog-media">
                <div class="ImageWrapper boxes_img">
                        <img class="img-responsive" src="{{ asset('demos/01_home.jpg') }}" alt="">
                        <div class="ImageOverlayH"></div>
                        <div class="Buttons StyleMg">
                            <span class="WhiteSquare"><a class="fancybox" href="{{ asset('demos/01_home.jpg') }}"><i class="fa fa-search"></i></a></span>
                        </div>
                        <div class="status_type">€ 550.000</div>
                </div><!-- ImageWrappe>
            </div><!-- end blog media -->
            <div class="post-content"> <h2>Las Rozas de Madrid</a></h2>
            </div><!-- post-content -->
            </article><!-- end blog wrap -->
        </div><!-- end col-lg-3 --> 
        
        <div class="col-lg-4 col-md-4 col-sm-12 ">
            <article class="blog-wrap boxes portfolio-wrap">
                <div class="blog-media">
                <div class="ImageWrapper boxes_img">
                        <img class="img-responsive" src="{{ asset('demos/01_home.jpg') }}" alt="">
                        <div class="ImageOverlayH"></div>
                        <div class="Buttons StyleMg">
                            <span class="WhiteSquare"><a class="fancybox" href="{{ asset('demos/01_home.jpg') }}"><i class="fa fa-search"></i></a></span>
                        </div>
                        <div class="status_type">€ 550.000</div>
                </div><!-- ImageWrappe>
            </div><!-- end blog media -->
            <div class="post-content"> <h2>Las Rozas de Madrid</a></h2>
            </div><!-- post-content -->
            </article><!-- end blog wrap -->
        </div><!-- end col-lg-3 --> 
        
        <div class="pagination_wrapper clearfix">
                <!-- Pagination Normal -->
                <ul class="pagination">
                  <li><a href="#">«</a></li>
                  <li class="active"><a href="#">1</a></li>
                  <li><a href="#">2</a></li>
                  <li><a href="#">3</a></li>
                  <li><a href="#">4</a></li>
                  <li><a href="#">5</a></li>
                  <li class="disabled"><a href="#">»</a></li>
                </ul>
        </div>
{% endblock %}
 
{% block right_region %}
    {% include 'TemploBundle:Static/'~app.request.locale~'/widget:sale-rent.html.twig'%} 
{% endblock %}