<div class="modal fade" id="LoginContact" tabindex="-1" role="dialog" aria-labelledby="ContactFormModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <img class="pull-left" src="{{ asset('assets/img/login.jpg') }}"/>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h1 class="text-center"><small>ACCESO DE USUARIOS</small></h1>
            </div>
            <div class="modal-body clearfix">
                <div class="text-left">                          
                    <div class="col-md-8 col-md-offset-2">	
                        <div class="widget clearfix">                            
                            <form id="loginform" method="post" name="loginform" action="{{ path("fos_user_security_check") }}">
                                <div class="form-group">
                                    <div class="input-group">
                                         <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                         <input type="text" name="_username" required="required" class="form-control" placeholder="{{ 'security.login.username'|trans({}, 'FOSUserBundle') }}">
                                    </div>                                    
                                </div>
                                <div class="form-group">
                                   <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                                        <input type="password" name="_password" required="required" class="form-control" placeholder=" {{ 'security.login.password'|trans({}, 'FOSUserBundle') }}">
                                    </div>
                                </div>
                                <div class="form-group">
                                     <div class="input-group">                                        
                                        <input type="checkbox" value="on" /> {{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}
                                    </div>                                    
                                </div>
                                <div class="form-group">
                                     <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-sign-in"></i></span>
                                        <input type="submit" class="btn" value="{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}">
                                    </div>                                    
                                </div>
                                
                                <div class="form-group">
                                     <div class="input-group">
                                         <a href="{{ path('fos_user_registration_register') }}">{{ 'security.login.register_new_user'|trans({}, 'FOSUserBundle')|upper }}</a>                                             
                                    </div>                                    
                                </div>
                                <div class="form-group">
                                     <div class="input-group">
                                         <a href="{{ path('fos_user_resetting_request') }}">{{ 'security.forgot_password'|trans({}, 'FOSUserBundle')|upper }}</a>                                             
                                    </div>                                    
                                </div>
                                <input type="hidden" name="_csrf_token" value="{{ fos_csrf_provider.generateCsrfToken('authenticate') }}" />
                                
                                 {% if targetPath is defined and targetPath != null %}
                                    <input type="hidden" name="_target_path" value="{{ targetPath }}" />
                                {% endif %}
                            </form>
                       </div>
                    </div><!-- end login -->
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->