{% extends "TemploBundle::base.html.twig" %}

{% block main %}




<div class="container">
    <div class="row">
        
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <img src="/templo/web/assets/img/login.jpg" class="pull-left">                   
                    <h1 class="text-center"><small>{{ 'security.login.page_title'|trans({}, 'FOSUserBundle') | upper}}</small></h1>
                </div>

                <div class="modal-body clearfix">
                    <div class="text-left"> 

                        <div class="col-md-12" id="login-error-container2">
                             {% if error %}
                            <div class="errors">{{ error|trans({}, 'FOSUserBundle') }}</div>
                                {% endif %}
                        </div>
                        

                        <div class="col-md-8 col-md-offset-2">	
                            <div class="widget clearfix">                            
                                <form action="{{ path("fos_user_security_check") }}" name="loginform" method="post" id="loginform">

                                    <div class="form-group">
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                            <input type="text" placeholder="{{ 'security.login.username'|trans({}, 'FOSUserBundle') }}" class="form-control" required="required" name="_username" value="{{ last_username }}">
                                        </div>                                    
                                    </div>
                                    <div class="form-group">
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                                            <input type="password" placeholder="{{ 'security.login.password'|trans({}, 'FOSUserBundle') }}" class="form-control" required="required" name="_password">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="input-group">                                        
                                            <input type="checkbox" value="on"> {{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}
                                        </div>                                    
                                    </div>
                                    <div class="form-group">
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="fa fa-sign-in"></i></span>
                                            <input type="submit" value="{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}" class="btn">
                                        </div>                                    
                                    </div>

                                    <div class="form-group">
                                        <div class="input-group">
                                            <a href="/templo/web/app_dev.php/es/register/">REGISTRO DE NUEVO USUARIO</a>                                             
                                        </div>                                    
                                    </div>
                                    <div class="form-group">
                                        <div class="input-group">
                                            <a href="{{ path('fos_user_resetting_request') }}">{{ 'security.forgot_password'|trans({}, 'FOSUserBundle') }}</a>                                             
                                        </div>                                    
                                    </div>
                                    <!--<input type="hidden" name="_csrf_token" value="{{ csrf_token }}" /> -->
                                     <input type="hidden" name="_csrf_token" value="{{ fos_csrf_provider.generateCsrfToken('authenticate') }}" />

                                </form>
                            </div>
                        </div><!-- end login -->
                    </div>
                </div>
            </div><!-- /.modal-content -->
        </div>
    </div>

</div>

{% endblock %}