{% extends 'TemploBundle::base.html.twig' %}

{% block main %}
<section class="post-wrapper-top dm-shadow clearfix">
    <div class="container">
        <div class="post-wrapper-top-shadow">
            <span class="s1"></span>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <ul class="breadcrumb">
                <li><a href="{{ path('portada') }}">{{ 'breadcrumb.home' | trans }}</a></li>
                <li><a href="{{ path('services') }}">{{ 'breadcrumb.services' | trans }}</a></li>
                <li>{{ 'breadcrumb.interior' | trans }}</li>
            </ul>
            <br>
            <h1>{{ 'titles.interior_design' | trans }}</h1>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">

        </div>
    </div>
</section><!-- end post-wrapper-top -->

<section class="generalwrapper dm-shadow clearfix">
    <div class="container">
        <div class="row">
            <div id="left_sidebar" class="col-lg-2 col-md-3 col-sm-3 col-xs-12 first clearfix">
                <div class="widget clearfix">
                    <div class="title"><h3>{{'main_insurance' | trans({},'interior')}}</h3></div>
                    <span>
                        <img src="{{ asset('demos/01_insurance.jpg') }}" alt="" class="img-thumbnail img-responsive">
                        <img src="{{ asset('demos/02_insurance.jpg') }}" alt="" class="img-thumbnail img-responsive">
                        <img src="{{ asset('demos/03_insurance.jpg') }}" alt="" class="img-thumbnail img-responsive">
                        <img src="{{ asset('demos/04_insurance.jpg') }}" alt="" class="img-thumbnail img-responsive">
                        <img src="{{ asset('demos/05_insurance.jpg') }}" alt="" class="img-thumbnail img-responsive">
                        <img src="{{ asset('demos/06_insurance.jpg') }}" alt="" class="img-thumbnail img-responsive">
                        <img src="{{ asset('demos/07_insurance.jpg') }}" alt="" class="img-thumbnail img-responsive">
                        <img src="{{ asset('demos/08_insurance.jpg') }}" alt="" class="img-thumbnail img-responsive">
                        <img src="{{ asset('demos/09_insurance.jpg') }}" alt="" class="img-thumbnail img-responsive">
                        <img src="{{ asset('demos/10_insurance.jpg') }}" alt="" class="img-thumbnail img-responsive">
                    </span>
                </div><!-- end widget -->                    
            </div><!-- #left_sidebar -->

            <div id="content" class="col-lg-7 col-md-6 col-sm-6 col-xs-12 clearfix">
                {{'main_text' | trans({},'interior')}}
            </div><!-- end content -->                   

            <div id="right_sidebar" class="col-lg-3 col-md-3 col-sm-3 col-xs-12 last clearfix">
                <div class="widget clearfix">
                    <div class="title">
                        <h3>Creditos</h3>
                    </div>
                    <a href="financial.php">
                        <img data-effect="fade" class="text-center img-thumbnail img-responsive" src="{{ asset('demos/insurances.jpg') }}" alt="">
                        <ul class="list">
                            <li>Dispondrás del capital de una sola vez, al inicio de la operación.</li>
                            <li>Podrás devolver el préstamo hasta en un máximo de 30 años.</li>
                            <li>Podrás escoger el tipo de interés que mejor se adapte a ti.</li>
                            <li>Si decides anticipar los pagos de tu hipoteca, puedes elegir entre rebajar la cuota mensual o reducir el plazo.</li>
                        </ul>
                    </a>
                </div><!-- end of widget -->  

                <div class="widget clearfix">
                    <div class="title">
                        <h3>Electricidad y Gas</h3>
                    </div>
                    <a href="supplies.php">
                        <img data-effect="fade" class="text-center img-thumbnail img-responsive" src="{{ asset('demos/supplies.jpg') }}" alt="">
                        <h4>PRECIO FIJO SIN SORPRESAS</h4>
                        <ul class="list">
                            <li>Contrata energía verde certificada.</li>
                            <li>11 % de descuento en el suministro de energía.</li>
                            <li>Ahórrate hasta 90,95€ al año.</li>
                        </ul>
                    </a>
                </div><!-- end of widget -->  
            </div><!-- end sidebar -->

        </div><!-- end row -->
    </div><!-- end container -->
</section><!-- end generalwrapper -->
{% endblock %}